@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-info" href="/pessoas/index">Home</a>

<div class="text-center">
    <h1 class="display-4">Criação de um formulário de pesquisa</h1>
    <p>Nesta aula vamos criar um formulário de pesquisa</p>
</div>

